.home-fb-feed-photos {
    /* margin-right: 10px; */
    margin-bottom: 10px;
}

.home-fb-feed-main {
    height: auto;
    overflow: scroll;
    text-align: center;
}

.home-feed-margin {
    border-left: 1px solid lightgray;
}
.home-background {
    background:white;
}
.home-top-bar {
    display: flex;
    justify-content: space-between;
}

.home-top-title {
    flex: 1;
    font-size: x-large;
    font-weight: 500;
}
.home-top-insta-connect button {
    padding: 15px 30px;
    display: block;
    background-color: #E33E5C;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    color: #FFF;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s;
    border-color: inherit;
}

.home-top-insta-connect button:hover {
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.15);
    transition: all .3s;
    background-color: #E33E5C;
    border-color: inherit;
}