body {
  margin: 0;
  font-family: 'Audrey';
  src: local('Audrey'), url(./fonts/Audrey-Normal.woff) format('woff');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img.resize {
  width: 400px;
  height: auto;
}

